//mixins

@mixin triangle($ColorHover,$direction, $size: 20px){

    @if $direction == down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $ColorHover;
    }

}

@mixin animacja{
  @for $i from 1 to 5 {
      @if $i==1{
        &:nth-child(#{$i}){
      animation-delay:0s;
      background:url(../img/slide#{$i}.jpeg)center/cover no-repeat;
          }
 }
 @if $i==2{
     &:nth-child(#{$i}){
 animation-delay:5s;
 background:url(../img/slide#{$i}.jpeg)center/cover no-repeat;
     }
}
@if $i==3{
    &:nth-child(#{$i}){
animation-delay:10s;
background:url(../img/slide#{$i}.jpeg)center/cover no-repeat;
    }
}
@if $i==4{
    &:nth-child(#{$i}){
animation-delay:15s;
background:url(../img/slide#{$i}.jpeg)center/cover no-repeat;
            }
        }
    }
}
@mixin border2($directionLeft, $directionRight){
    border-#{$directionLeft}:10px solid rgb(240, 240, 240);
    border-#{$directionRight}:10px solid rgb(240, 240, 240);
}

@mixin widthHeight($width,$height){
    width:#{$width};
    height:#{$height};
}
@mixin widthMargin($width){
    width:#{$width};
    margin:0 auto;
}
@mixin flex($content, $direction){
    display:flex;
    justify-content:#{$content};
    flex-direction: #{$direction}
}

@mixin border-radius($radius) {
    -webkit-border-radius:#{$radius};
    -moz-border-radius:#{$radius};
        border-radius:#{$radius};
}
@mixin positionSocial($top,$left){
    position: absolute;
    top:#{$top};
    left:#{$left};
}
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}
@mixin border-radius($radius) {
    -webkit-border-radius:#{$radius};
    -moz-border-radius:#{$radius};
        border-radius:#{$radius};
}

@mixin background( $img, $type, $size1, $size2, $repeat){
    background-image:url(../img/#{$img}.#{$type});
    background-repeat:#{$repeat};
    background-position:#{$size1}/#{$size2};
}
 @mixin box-shadow {
-webkit-box-shadow: 0px 0px 10px $borderColor;
-moz-box-shadow: 0px 0px 10px $borderColor;
box-shadow: 0px 0px 10px $borderColor;
     }
@mixin mQ($width){
    @media screen and (max-width: #{$width}){
        @content;
    }
}

@mixin mQS($width, $width2){
    @media screen and (min-width: #{$width}) and (max-width: #{$width2}) {
        @content;
    }
}
