// global variables

//typografia
$ff-body: Quicksand, sans-serif;

//pogrubienie
$font-weight-b: 700;
$font-weight-n: 400;

//czcionka
$font-size: 100%;

//color-tla
$bg-menu: rgba(240, 240, 240, 0.7);
$bg-akapit: #f7f7f7;

//color-czcionki
$primaryColor: #000;

//color-hover
$ColorHover: darkgray;

//color-bordera
$borderColor: #864949;
//odstęp pomiędzy wierszami
$lh: 16px;
